* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --black: #000;
    --white: #fff;
    --dark-red: #901913;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
a {
    display: inline-block;
    text-decoration: none;
}
.w-24 {
    width: 24.6665%;
}
.w-25 {
    width: 25%;
    padding: 0px 15px;
    
}
.w-33 {
    width: 33.33%;
    padding: 0px 15px;
}
.w-41 {
    width: 41.6666%;
    padding: 0px 15px;
}
.w-50 {
    width: 50%;
}
.text-center {
    text-align: center;
}
img {
    width: 100%;
}

.container {
    width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    transition: all 0.5s;

}

.head {
    background-color: #901913;
    padding: 20px 30px;
    margin-bottom: 8px;
    color: white;

}

.imagdiv img {
    width: 100px;
}

.head p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 40px;
    border-top: 1px solid black;
}

.foot h3 {
    color: black;
    font-size: 20px;
}

.justifly-content {
    justify-content: space-between;
}

.sidebar .btn {
    padding: 15px 20px;
    background-color: #901913;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
}

.sidebar .btn a {
    color: white;
}

#total {
    color: #901913;
    font-weight: 700;
}

table {
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

table tr td {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;

}

table tr th {
    text-align: center;
    padding: 10px 0px;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;

}

.white {
    color: white;
}

table tr td img {
    width: 100px;
}

.boxes {
    border: 1px solid white;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 3px 10px;

}

.boxes .num {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0px 10px;
}

.boxes .minus {
    padding-right: 8px;
}

.boxes .plus {
    padding-left: 8px;
}

table tr td span {
    font-size: 20px;
    cursor: pointer
}

button {
    padding: 8px 20px;
    font-size: 18px;
}

button i {
    color: red;
    font-size: 25px;
    padding: 35px 0px;
}

/* main header */

header {
    padding: 20px;
    background-color: var(--black);
}

#nav ul li a {
    margin: auto 20px;
    color: var(--white);
    text-decoration: none;
    font-family: var(--font-1);
    text-transform: uppercase;
}

nav ul .a1 {
    background-color: var(--dark-red);
}

.icon {
    color: var(--white);
    padding: 0px 25px;
}

.icon i {
    font-size: 20px;
}

.icones svg {
    width: 27px;
    height: 27px;
}

.iconsss {
    padding: 0px 20px;
}

.icon a i {
    color: var(--white);
}

/* 2 header */
.header {
    padding: 10px 0px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.346);
    background-color: #000;
}

.containers {
    width: 600px;
    margin: auto;
}

.header .search #value {
    width: 600px;
    padding: 10px 10px;
    box-shadow: 0px 0px 15px #3d3d3d55;
    border: none;
    outline: none;
    border-radius: 5px;

}

.header .search input::placeholder {
    font-size: 16px;
}

/* footer */

footer {
    padding: 66px 0px 20px;
    background-color: var(--black);
    margin-top: 50px;
}

.f-1 img {
    width: 138px;
}

.f-2 {
    max-width: 280px;
}

.f-2 p {
    font-size: 16px;
    font-family: var(--font-1), sans-serif;
    color: var(--white);
    line-height: 1.625em;
    letter-spacing: -0.18px;
    padding-top: 25px;
}

.f-1 .years {
    color: #99999980;
    font-size: 16px;
    font-family: var(--font-1), sans-serif;
    padding-top: 18px;
}

.f-3 h2 {
    color: var(--white);
    font-size: 24px;
    letter-spacing: -0.6px;
    font-family: var(--font-1), sans-serif;
    font-weight: 400;
}

.f-4 {
    padding-top: 25px;
    /* padding-left:30px; */
}

.f-4 li {
    font-size: 16px;
    color: var(--white);
    font-family: var(--font-1), sans-serif;
    padding-top: 11px;
    transition: all 0.5s;
}

.f-4 li:hover {
    color: var(--white);
    cursor: pointer;
}

.f-5 {
    padding-top: 25px;
    padding-left: 85px;
}

.f-5 li {
    font-size: 16px;
    color: var(--white);
    font-family: var(--font-1), sans-serif;
    padding-top: 11px;
    transition: all 0.5s;
}

.f-5 li:hover {
    color: var(--white);
    cursor: pointer;
}

.f-6 h2 {
    color: var(--white);
    font-size: 24px;
    letter-spacing: -0.6px;
    font-family: var(--font-1), sans-serif;
    font-weight: 400;
}

.f-6 h6 {
    padding-top: 33px;
}

.f-6 h6,
p,
.text-1 {
    font-size: 16px;
    color: var(--white);
    font-family: var(--font-1), sans-serif;
    font-weight: 400;
    transition: all 0.5s;
    cursor: pointer;
}

.text-1:hover {
    color: var(--white);
}

.f-6 p,
span {
    padding-top: 10px;
}

.f-6 span {
    padding-left: 4px;
}

.f-7-icn {
    padding-top: 34px;

}

.f-7-icn i {
    height: 52px;
    width: 52px;
    background-color: var(--white);
    border: 1px solid #EEEEEE1A;
    border-radius: 50%;
    font-size: 21px;
    color: #777777;
    line-height: 40px;
    padding: 5px 17px;
    margin-left: 9px;
}

.f-7-icn .fa-facebook-f {
    transition: all 0.5s;
}

.f-7-icn .fa-facebook-f:hover {
    border-color: #3B5999;
    background-color: #3B5999;
    color: var(--white);
}

.f-7-icn .fa-twitter {
    transition: all 0.5s;
}

.f-7-icn .fa-twitter:hover {
    border-color: #00adef;
    background-color: #00adef;
    color: var(--white);
}

.f-7-icn .fa-linkedin-in {
    transition: all 0.5s;
}

.f-7-icn .fa-linkedin-in:hover {
    border-color: #0073b2;
    background-color: #0073b2;
    color: var(--white);
}

.f-8 {
    margin-top: 60px;
    border-top: 1px solid #343434;
}

.f-8 p {
    font-size: 16px;
    font-family: var(--font-1), sans-serif;
    color: #999999B3;
    padding: 28px 0 10px 0;
}