* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
    --dark-red: #901913;
}

.padding {
    padding: 20px 0px;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

a {
    display: inline-block;
    text-decoration: none;
}

.w-24 {
    width: 24.6665%;
}

.w-25 {
    width: 25%;
    padding: 0px 15px;
    ;
}

.w-33 {
    width: 33.33%;
    padding: 0px 15px;
}

.w-41 {
    width: 41.6666%;
    padding: 0px 15px;
}

.w-50 {
    width: 50%;
}

.text-center {
    text-align: center;
}

img {
    width: 100%;
}

.container {
    width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.image-box img {
    width: 70px;
    border-radius: 100%;
}

.image-box {
    margin: auto;
}

.imagess {
    width: 500px;
    margin: auto;
}

.image-box h4 {
    font-size: 16px;
    font-weight: 700;
    color: black;
    padding-top: 10px;
}

/* banner section */
.banner-bg {
    background-image: url(../image/banner.jpg);
    padding: 250px 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

/* TRENDING NOW section us css */
.title p {
    text-align: center;
    font-size: 12px;
    padding: 20px 0px;
    letter-spacing: 1px;
}

.title h2 {
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.title h2::after {
    position: absolute;
    content: "";
    width: 300px;
    height: 2px;
    background-color: black;
    top: 10px;
    right: 170px;
}

.title h2::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 2px;
    background-color: black;
    top: 10px;
    left: 170px;
}

.title h1 {
    text-align: center;
    position: relative;
    font-size: 20px;
    color: black;
    font-weight: 700;

}

.title h1::after {
    position: absolute;
    content: "";
    width: 300px;
    height: 2px;
    background-color: black;
    top: 10px;
    right: 160px;
}

.title h1::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 2px;
    background-color: black;
    top: 10px;
    left: 160px;
}

#top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 40px;
    text-align: center;
}

#top img {
    width: 200px;
}

#top .main {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.175);
    border: 1px solid black;
    border-radius: 20px;
}

#trending {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 30px;
    text-align: center;
}

#trending .main {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.175);
    border: 1px solid black;
    border-radius: 20px;
}

#trending img {
    width: 200px;
}

.title {
    color: black;
    font-weight: 700;
}

/* extra */

.main {
    padding: 20px;
    text-align: center;
}

.pricesbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    margin-bottom: 15px;
}

.description {
    font-family: sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}

.price {
    color: #991f53;
    font-family: sans-serif;
    font-size: 14px;
}

.pricesrong {
    padding: 0px 30px;
    font-family: sans-serif;
    font-size: 14px;
}

.title {
    font-size: 14px;
    font-family: sans-serif;
    color: black;
    letter-spacing: 2px;
    font-weight: 400;
    padding-top: 20px;
    text-transform: uppercase;
}

.box {
    margin-bottom: 14px;
}

.rating {
    font-family: sans-serif;
    padding-right: 10px;
    border-right: 1px solid black;
    font-size: 14px;
}

.ratings {
    margin-left: 10px;
}

.ratingsss {
    padding-left: 5px;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

.btn {
    width: 100%;
    padding: 14px 0px;
    background-color: #901913;
    color: white;
    border: none;
    font-family: sans-serif;
}

/* DEALS YOU CAN'T MISS */
.title h3 {
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.title h3::after {
    position: absolute;
    content: "";
    width: 250px;
    height: 2px;
    background-color: black;
    top: 10px;
    right: 180px;
}

.title h3::before {
    position: absolute;
    content: "";
    width: 250px;
    height: 2px;
    background-color: black;
    top: 10px;
    left: 180px;
}

#deals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 40px;
    text-align: center;
}

#deals .main {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.175);
    border: 1px solid black;
    border-radius: 20px;
}

#deals img {
    width: 200px;
}



/* main header */

header {
    padding: 20px;
    background-color: var(--black);
}

#nav ul li a {
    margin: auto 20px;
    color: var(--white);
    text-decoration: none;
    font-family: var(--font-1);
    text-transform: uppercase;
}

nav ul .a1 {
    background-color: var(--dark-red);
}

.icon {
    color: var(--white);
    padding: 0px 25px;
}

.icones svg {
    width: 22px;
    height: 22px;
}

.iconsss {
    padding: 0px 20px;
}

.icon a i {
    color: var(--white);
}

/* 2 header */
.header {
    padding: 10px 0px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.346);
    background-color: black;

}

.containers {
    width: 600px;
    margin: auto;
}

.header .search #value {
    width: 600px;
    padding: 10px 10px;
    box-shadow: 0px 0px 15px #3d3d3d22;
    border: none;
    outline: none;
    border-radius: 5px;

}

.header .search input::placeholder {
    font-size: 16px;
}

/* footer */

footer {
    padding: 66px 0px 20px;
    background-color: var(--black);
    margin-top: 50px;
}

.f-1 img {
    width: 138px;
}

.f-2 {
    max-width: 280px;
}

.f-2 p {
    font-size: 16px;
    font-family: var(--font-1), sans-serif;
    color: var(--white);
    line-height: 1.625em;
    letter-spacing: -0.18px;
    padding-top: 25px;
}

.f-1 .years {
    color: #99999980;
    font-size: 16px;
    font-family: var(--font-1), sans-serif;
    padding-top: 18px;
}

.f-3 h2 {
    color: var(--white);
    font-size: 24px;
    letter-spacing: -0.6px;
    font-family: var(--font-1), sans-serif;
    font-weight: 400;
    /* padding-left:30px; */
}

.f-4 {
    padding-top: 25px;
    /* padding-left:30px; */
}

.f-4 li {
    font-size: 16px;
    color: var(--white);
    font-family: var(--font-1), sans-serif;
    padding-top: 11px;
    transition: all 0.5s;
}

.f-4 li:hover {
    color: var(--white);
    cursor: pointer;
}

.f-5 {
    padding-top: 25px;
    padding-left: 85px;
}

.f-5 li {
    font-size: 16px;
    color: var(--white);
    font-family: var(--font-1), sans-serif;
    padding-top: 11px;
    transition: all 0.5s;
}

.f-5 li:hover {
    color: var(--white);
    cursor: pointer;
}

.f-6 h2 {
    color: var(--white);
    font-size: 24px;
    letter-spacing: -0.6px;
    font-family: var(--font-1), sans-serif;
    font-weight: 400;
}

.f-6 h6 {
    padding-top: 33px;
}

.f-6 h6,
p,
.text-1 {
    font-size: 16px;
    color: var(--white);
    font-family: var(--font-1), sans-serif;
    font-weight: 400;
    transition: all 0.5s;
    cursor: pointer;
}

.text-1:hover {
    color: var(--white);
}

.f-6 p,
span {
    padding-top: 10px;
}

.f-6 span {
    padding-left: 4px;
}

.f-7-icn {
    padding-top: 34px;

}

.f-7-icn i {
    height: 52px;
    width: 52px;
    background-color: var(--white);
    border: 1px solid #EEEEEE1A;
    border-radius: 50%;
    font-size: 21px;
    color: #777777;
    line-height: 40px;
    padding: 5px 17px;
    margin-left: 9px;
}

.f-7-icn .fa-facebook-f {
    transition: all 0.5s;
}

.f-7-icn .fa-facebook-f:hover {
    border-color: #3B5999;
    background-color: #3B5999;
    color: var(--white);
}

.f-7-icn .fa-twitter {
    transition: all 0.5s;
}

.f-7-icn .fa-twitter:hover {
    border-color: #00adef;
    background-color: #00adef;
    color: var(--white);
}

.f-7-icn .fa-linkedin-in {
    transition: all 0.5s;
}

.f-7-icn .fa-linkedin-in:hover {
    border-color: #0073b2;
    background-color: #0073b2;
    color: var(--white);
}

.f-8 {
    margin-top: 60px;
    border-top: 1px solid #343434;
}

.f-8 p {
    font-size: 16px;
    font-family: var(--font-1), sans-serif;
    color: #999999B3;
    padding: 28px 0 10px 0;
}

/* slidbar */

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    margin-left: 20px;
    background-color: white;
    text-align: center;
    transition: all 0.5s;
    overflow-y: scroll;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
    transform: translateX(calc(100% + 20px));
}

.sidebar.active {
    transform: translateX(0);

}

.sidebar .colse {
    font-weight: 600;
    font-size: 20px;
}

.head {
    background-color: black;
    padding: 10px;
    padding: 30px 30px;
    margin-bottom: 8px;
    color: white;
    display: flex;
    align-items: center;
}

.head p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.cart {
    background-color: #901913;
    padding: 15px 0px;
    margin-bottom: 10px;
    color: white;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid black;
}

.foot h3 {
    color: #fff;
}

#total {
    color: #901913;
    font-weight: 700;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    margin: 10px 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.040);
}

.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: center;

}

.justifly-content {
    justify-content: space-between;
}

.sidebar .btn {
    padding: 15px 20px;
    background-color: #901913;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
}

.sidebar .btn a {
    color: white;
}

/* slidbar */
table {
    margin: auto;
    width: 100%;
    margin-top: 20PX;
}

table tr td {
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    color: black;
}

table tr th {
    text-align: center;
    padding: 10px 0px;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    font-weight: 700;

}

.white {
    color: white;
}

table tr td img {
    width: 100px;
}

.boxes .num {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px 10px;
}

.boxes .minus {
    padding-right: 8px;
}

.boxes .plus {
    padding-left: 8px;
}

table tr td span {
    font-size: 20px;
    cursor: pointer
}

.imagdiv img {
    width: 100px;
}

.imagdiv title {
    padding: 10px;
}

.number {
    width: 20px;
    color: white;

}

.foot h3 {
    color: black;
}

.foot {
    padding: 0px 20px;

}

a {
    text-decoration: none;
}