@font-face {
    font-family: 'DINNeuzeitGrotesk LT BoldCond';
    src: url('../fonts/DINNeuzeitGroteskLT-BoldCond.woff2') format('woff2'),
        url('../fonts/DINNeuzeitGroteskLT-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk LT BoldCond';
    src: url('../fonts/DINNeuzeitGroteskLT-BoldCond.woff2') format('woff2'),
        url('../fonts/DINNeuzeitGroteskLT-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk LT BoldCond';
    src: url('../fonts/DINNeuzeitGroteskLT-BoldCond.woff2') format('woff2'),
        url('../fonts/DINNeuzeitGroteskLT-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk LT';
    src: url('../fonts/DINNeuzeitGroteskLT-Light.woff2') format('woff2'),
        url('../fonts/DINNeuzeitGroteskLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk LT';
    src: url('../fonts/DINNeuzeitGroteskLT-Light.woff2') format('woff2'),
        url('../fonts/DINNeuzeitGroteskLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNeuzeitGrotesk LT';
    src: url('../fonts/DINNeuzeitGroteskLT-Light.woff2') format('woff2'),
        url('../fonts/DINNeuzeitGroteskLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

